
<h1> Evènements</h1>

<a routerLink="login"> Login </a><br>
<a routerLink="home"> Home </a><br>
<a routerLink="home/events"> Events </a>
<nav>
  <ul>
    <li> <a routerLink="home/events/exposition"> Expositions </a> </li>
    <li> <a routerLink="home/events/festival"> Festivals </a> </li>
    <li> <a routerLink="home/events/sortie"> Sorties </a> </li>
  </ul>


</nav>
<nav>
  <ul>
    <!--<li> <a routerLink="home"> Home </a> </li>
    <li> <a routerLink="login"> Login </a> </li>-->

  </ul>


</nav>

<router-outlet></router-outlet>


